/* To Do List for 9th March, 2022 */
/* - Custom Text for Main Part, Colours invert when hovered over, do same for links as well */
/* - Improve general website look (make it look less like a carrd/template site cuz they're pretty ugly) */
/* - Finish design on main page, Start Design on About page */
/* - Add Music to the page: Dislocated Thumbs */

body {
  margin: 0;
  background-color: rgb(186, 31, 63);
  background-image: url("texture.gif");
  background-repeat: repeat-xy;
  text-align: center;
}

h2 .main-part {
  font-size: 25px;
  font-family: Courier New, monospace;
}

.main-part {
    height: 200px;
    width: 400px;
    border: 2px solid black;
    background: RGB(155, 0, 41);
  
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
